<div class="row">
  <aside class="col-sm-3 col-lg-3"></aside>
  <section class="col-sm-6 col-lg-6">

  <h3>AI Portfolio</h3>
  <table class="table table-striped, table-bordered,table-sm">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Shares</th>
        <th>Cost</th>
        <th nowrap="nowrap">Market Value</th>
        <th>PnL</th>
        <th> Buy More</th>
        <th> Sell More </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of MyPositions">
        <td>{{p.Ticker}}</td>
        <td>{{p.Shares | number:'.0'}}</td>
        <td>{{p.Cost | number:'.2'}}</td>
        <td>{{p.MarketVal | number:'.2'}}</td>
        <td>{{p.PnL | number:'.2'}}</td>
        <td><button (click)="AddToPortfolio(p.Ticker, 1000)" class="btn btn-info">Buy More</button></td>
        <td><button (click)="AddToPortfolio(p.Ticker, -1000)" class="btn btn-info">Sell More</button></td>
        <td></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td>Subtotal</td>
        <td>{{SumCost | number:'.2'}}</td>
        <td>{{SumMarketVal | number:'.2'}}</td>
        <td>{{SumPnL | number:'.2'}}</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
< <aside class="col-sm-3 col-lg-3"></aside>
  </section>
</div>