.navbar {
  margin-bottom: 0;
  padding-bottom: 3px;
  padding-top: 3px;
}

header {
  background-color: white;
  color: #333;
  padding: 0px;
  text-align: center;
}

aside {
  background-color: white;
  text-align: center;
  padding-top: 40px;
}





