<!--The content below is only a placeholder and can be replaced.-->
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><img src="..\assets\aiLogo6.PNG" class="img-responsive" /></a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li><a  class="nav-link" routerLink="/term" routerLinkActive="active">Terms</a></li>
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Security" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search For AI Info</button>
      </form>
    </div>
  </nav>
   
</header>
<div class="container-fluid push  ">
  <div class="row   ">
    <aside class="   col-sm-2 col-lg-2 ">
      <div class="note">
      <h4 class="range-title">Policy Watch</h4>
      <ul>
        <li>Fed Fund Rate: 1.25%</li>
        <li>Inflate Rate: 1.73%</li>
        <li>Unemployment Rate:4.3%</li>
        <li>US Dollar Exchange Ratio:
          <ul>
            <li>EUR:1.1927</li>
            <li>JPY:109.101</li>
            <li>CAD:1.2472</li>
            <li>CNY:6.6437</li>
          </ul>
        </li>
      </ul>
      </div>
    </aside>
   
    <section class="col-sm-8 col-lg-8  ">
      <router-outlet></router-outlet>
    </section>

    <aside class="rightside col-sm-2 col-lg-2 ">
      <h4 class="range-title">Market Watch</h4>
      <div class="range-list">
        <img src="..\assets\dji.PNG" width="90%" height="90%"/>
        <b>Dow Jones Industrial Average</b>
      
        <img src="..\assets\nasdaq.PNG" width="90%" height="90%" />
        <b>NASDAQ Composite</b>
     
        <img src="..\assets\sp500.PNG" width="90%" height="90%" />
        <b>S&P 500 Index</b>
      </div>
    </aside>
  </div>
</div>
 

