<!--The content below is only a placeholder and can be replaced.-->
<header>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #001F3F;">
  <a class="navbar-brand" style="color: goldenrod; " (click)="GoHome()" href="#">Ai Dollar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/invest">Invest</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/guru">Gurus</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/insiders">Insiders</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Ai Portfolio</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/portfolio/MyPortfolio-Positions">Guru Track</a>
          <a class="dropdown-item" routerLink="/portfolio/InsiderTrackPortfolio-Positions">Insider Track</a>
      </div>
      </li>
      <li><a class="nav-link" routerLink="/term">Terms</a></li>
      <li>
        <a class="nav-link" href="mailto:quoteaidollar@gmail.com">Contact</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" [(ngModel)]="Email" name="email" type="text" placeholder="email" aria-label="email">
      <input class="form-control mr-sm-2" [(ngModel)]="Password" name="password" type="text" placeholder="password" aria-label="password">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="SignIn()">Sign In</button>
    </form>
  </div>
    </nav>
</header>
<div class="container-fluid push  ">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
 

