<h5 ng-if="Portfolio.Owner">{{Portfolio.Owner}}</h5>
<table class="table table-striped, table-bordered" >
  <thead>
  <tr>
    <th>Issuer</th>
    <th>Ticker</th>
    <th>Cusip</th>
    <th>{{Portfolio.ReportedDate0 | date}}</th>
    <th>{{Portfolio.ReportedDate1 | date}}</th>
    <th>{{Portfolio.ReportedDate2 | date}}</th>
    <th>{{Portfolio.ReportedDate3 | date}}</th>
    <th>{{Portfolio.ReportedDate4 | date}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let hold of Portfolio.Holdings">
    <td>{{hold.Issuer}}</td>
    <td>{{hold.Ticker}}</td>
    <td>{{hold.Cusip}}</td>
    <td>{{hold.Share0 | number:'.0'}}</td>
    <td [ngClass]= "{'red':hold.Share1<hold.Share0, 'green' :hold.Share1>hold.Share0}">{{hold.Share1 | number:'.0'}}</td>
    <td [ngClass]= "{'red':hold.Share2<hold.Share1, 'green':hold.Share2>hold.Share1}">{{hold.Share2 | number:'.0'}}</td>
    <td [ngClass]= "{'red':hold.Share3<hold.Share2, 'green':hold.Share3>hold.Share2}">{{hold.Share3 | number:'.0'}}</td>
    <td [ngClass]= "{'red':hold.Share4<hold.Share3, 'green':hold.Share4>hold.Share3}">{{hold.Share4 | number:'.0'}}</td>
  </tr>
  </tbody>
</table>
  
 