<h5>{{Portfolio.Owner}}</h5>
<table class="table table-striped, table-bordered" >
  <thead>
  <tr>
    <th>Issuer</th>
    <th>{{Portfolio.ReportedDate0 | date}}</th>
    <th>{{Portfolio.ReportedDate1 | date}}</th>
    <th>{{Portfolio.ReportedDate2 | date}}</th>
    <th>{{Portfolio.ReportedDate3 | date}}</th>
    <th>{{Portfolio.ReportedDate4 | date}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let hold of Portfolio.Holdings">
    <td>{{hold.Issuer}}</td>
    <td>{{hold.Share0 | number:'.0'}}</td>
    <td>{{hold.Share1 | number:'.0'}}</td>
    <td>{{hold.Share2 | number:'.0'}}</td>
    <td>{{hold.Share3 | number:'.0'}}</td>
    <td>{{hold.Share4 | number:'.0'}}</td>
  </tr>
  </tbody>
</table>
  
 